{% extends "header.html" %}
{% load static %}

{% block content %}      

{% load crispy_forms_tags %}

{% for amb in ambulances %}
<!--ambulance--> 
<div class="container py-5">
  <h1>Ambulance number {{amb.ambulance_number}}</h1>
  <form method="POST" action="{% url 'ambulance_info' %}">
    <button class="btn btn-primary" type="submit" value="{{ amb.ambulance_id }}" style="width: 30%;background-color: #353459; border:#353459 1px solid;border-radius: 12px;">
      <table>
        <tr >
          <td>
            <img class="navbar-logo" src="{% static 'ambulances.png' %}" width="50px" height="50px">
          </td>
          <td>

          </td>
          <td style="color: #fce7e9; font-size: medium;">
            i
          </td>
        </tr>
      </table>
    </button>
  </form>
</div>
{% endfor %}

<div class="container py-5" align="center">
  {% if no_amb %}
  <h3>Sadly there are no Ambulances to show</h3>
  {% endif %}
  <a class="btn btn-primary" href="{% url 'create_ambulance' %}" style="color: #fce7e9;width: 30%;background-color: #353459; border:#353459 1px solid;border-radius: 12px; width: 60%;">add an Ambulance</a>
</div>

{% endblock %}