{% extends "header.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--eq--> 
<div class="container py-5">
  <h3>Add a new Equipment to Ambulance number {{amb.ambulance_number}}</h3>
  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="amb" id="amb" value="{{ amb.ambulance_id }}" >
    <input type="hidden" name="am_id" id="am_id" value="{{ amb.ambulance_id }}" >
    <input type="hidden" name="form_status" id="form_status" value="True" >
    {{form.eq_name|as_crispy_field}}
    {{form.amount|as_crispy_field}}
    <button class="btn btn-primary" type="submit" style="color: #fce7e9;width: 30%;background-color: #353459; border:#353459 1px solid;border-radius: 12px; width: 60%;">Add</button>
  </form>
</div>

{% endblock %}