{% extends "header.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
    <h3>{{buser.firstname}} {{buser.lastname}}</h3>
    <form method="POST">
        {% csrf_token %}
        {{ update_user_form|crispy }}
        <input type="hidden" name="buser" value="{{buser.username}}">
        <input type="hidden" name="save_form" value="{{save_form}}">
        <button id="resetPasswordBtn" type="button" class="btn btn-warning">Change Password</button>
        <button class="btn btn-primary" type="submit" style="background-color: #353459; color: #d4e3fc; border:#353459 1px solid;">Update User</button>
    </form>
</div>

<script>
document.getElementById('resetPasswordBtn').addEventListener('click', function() {
    var passwordField = document.getElementById('id_password');
    passwordField.removeAttribute('readonly');
    passwordField.value = '';
    passwordField.focus();
});
</script>
{% endblock %}