{% extends "header.html" %}

{% block content %}      

{% load crispy_forms_tags %}

{% for buser in users %}
<!--ambulance--> 
<div class="container py-5">
  <h1>Ambulance number {{amb.ambulance_number}}</h1>
  <form method="POST" action="{% url 'create_ambulance' %}">
    <button class="btn btn-primary" type="submit" value="{{ amb.ambulance_id }}">Add</button>
  </form>
</div>
{% endfor %}

<div class="container py-5" align="center">
  {% if no_amb %}
  <h3>Sadly there are no Ambulances to show</h3>
  {% endif %}
  <a class="btn btn-primary" href="{% url 'create_ambulance' %}">add an Ambulance</a>
</div>

{% endblock %}