{% extends 'header.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container mt-4">
    <h2>Generate Report</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="report_type">Report Type</label>
            <select name="report_type" id="report_type" class="form-control">
                <option value="all">All Rides</option>
                <option value="private">Private Customers</option>
                <option value="business">Business Customers</option>
            </select>
        </div>
        <div class="form-group">
            <label for="from_date">From Date</label>
            <input type="date" name="from_date" id="from_date" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="to_date">To Date</label>
            <input type="date" name="to_date" id="to_date" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="export_format">Export Format</label>
            <select name="export_format" id="export_format" class="form-control">
                <option value="excel">Excel</option>
                <option value="pdf">PDF</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: #353459; color: #d4e3fc; border:#353459 1px solid;">Generate Report</button>
    </form>
</div>
{% endblock %}