{% extends "header.html" %}
{% load static %}

{% block content %}      
{% load crispy_forms_tags %}

 
<div class="container py-5">
  <table style="width: 100%; color:#353459;">
    <tr >
      <td style="left: 10%;"><h3>{{inst.institution_name}}</h3></td>
      <td style="right: 10%; width: 30%;">
        <form method="POST" action="{% url 'disable_driver' %}">
        <input type="hidden" name="inst_id"  value="{{ inst.inst_id }}" > 
        <input type="hidden" name="save_form" value="{{save_form}}">
        <button class="btn btn-primary" type="submit" style="width: 80%;background-color: #353459; border:#353459 1px solid;border-radius: 12px;width: 100%;">
        Delete</button></form>
    </td>
    </tr>
  </table>
  <br>
  <form method="POST">
		{% csrf_token %}
    {{update_inst_form|crispy}}
    {{update_inst_form.in_institution.institution_name|crispy}}
    <input type="hidden" name="inst_id"  value="{{ inst.inst_id }}" > 
    <input type="hidden" name="save_form" value="{{save_form}}">
		<button class="btn btn-primary" type="submit" style="width: 80%;background-color: #353459; border:#353459 1px solid;border-radius: 12px;width: 100%;">Update Institution</button>
	</form>
</div>



{% endblock %}