{% extends "header.html" %}
{% load static %}

{% block content %}      

{% load crispy_forms_tags %}


<div class="container py-5" align="center">
  {% if no_inst %}
  <h3>Sadly there are no Institutions to show</h3>
  {% endif %}
  <a class="btn btn-primary" href="{% url 'add_institution' %}" style="color: #d4e3fc;width: 30%;background-color: #353459; border:#353459 1px solid;border-radius: 12px; width: 60%;">Add an Institution</a>
</div>

<!--Instituion--> 
<div class="container py-5">
  {% for institution in inst %}
  <form method="POST" action="{% url 'institution_info' %}">
    {% csrf_token %}
    <input type="hidden" name="inst_id" value="{{institution.inst_id}}" > 
    <input type="hidden" name="save_form" value="False" >
    <button class="btn btn-primary" type="submit" style="width: 80%;background-color: #d4e3fc; border:#353459 1px solid;border-radius: 12px;margin-left: 10%;">
      <table style="color: #353459; font-size: x-large; text-align: center;">
        <tr>
          <td style="width: 20%;">
            <img class="navbar-logo" src="{% static 'drivers.png' %}" width="50px" height="50px">
          </td>
          <td style="width: 70%;">
            <b>{{institution.institution_name}}</b>
          </td>
          <td style="width: 10%;">
            <img class="navbar-logo" src="{% static 'arrow_right.png' %}" width="50px" height="50px" style="margin-left: 10%;">
          </td>
        </tr>
      </table>
    </button>
  </form>
  <br>
  {% endfor %}
</div>

{% endblock %}