{% extends "header.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container py-5">
  <table style="width: 100%; color:#353459;">
    <tr>
      <td style="left: 10%;"><h3>Plan a Ride</h3></td>
    </tr>
  </table>
  <br>
  {{ c_r_form.media }}
  <form method="post">
    {% csrf_token %}
    {{ c_form|crispy }}
    {{ c_r_form|crispy }}
    <button class="btn btn-primary" type="submit" style="width: 30%;background-color: #353459; border:#353459 1px solid;border-radius: 12px;">
      Submit Request
    </button>
  </form>
</div>

{% if best_drivers %}
<div class="container py-5">
  <h4>Best Drivers</h4>
  <ul>
    {% for driver, arrival_time in best_drivers %}
    <li>{{ driver.firstname }} {{ driver.lastname }} - Arrival Time: {{ arrival_time }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Initialize visibility on page load
    toggleVisibility('customer_type', 'institution_id');
    toggleVisibility('pick_from_institution', 'pickup_institution');
    toggleVisibility('drop_at_institution', 'dropoff_institution');
    toggleVisibility('return_trip', 'return_trip_pick_up_time');
    toggleVisibility('have_preferred_driver', 'preferred_driver');
  });

  function toggleVisibility(toggleField, targetField) {
    var toggle = document.getElementById('id_' + toggleField);
    var target = document.getElementById('div_id_' + targetField).closest('.form-group');
    if (toggle.checked) {
      target.style.display = 'block';
    } else {
      target.style.display = 'none';
    }
  }
</script>

{% endblock %}