{% extends "header.html" %}
{% load static %}

{% block content %}      

{% load crispy_forms_tags %}
<!--plan a ride--> 
<div class="container py-5">
  <table style="width: 100%; color:#353459;">
    <tr >
      <td style="left: 10%;"><h3>Plan a Ride</h3></td>
    </tr>
  </table>
  <br>
  {{ c_r_form.media }}
  <form method="POST" >
		{% csrf_token %}
    {{c_form|crispy}}
    {{c_r_form|crispy}}

		<button class="btn btn-primary" type="submit" style="width: 80%;background-color: #353459; border:#353459 1px solid;border-radius: 12px;width: 100%;">Submit</button>
	</form>
</div>
<script>function change_visibility_pui(){
  if (document.getElementById("pickup_institution").style.visibility == "visible")
  {document.getElementById("pickup_institution").style.visibility = "collapse";}
  else{document.getElementById("pickup_institution").style.visibility = "visible";}
  }</script>
{% endblock %}